In [ ]:
import pandas as pd

In [ ]:
data = {'Nombre': ['Alice', 'Bob', 'Charlie', 'Dave', 'Eve'],
        'Edad': [25, 32, 18, 47, 22],
        'País': ['USA', 'Canada', 'Mexico', 'USA', 'Canada']}
df = pd.DataFrame(data)

## Ordenando por una columna

In [ ]:
df.sort_values('Edad')

## Ordenando por varias columnas

In [ ]:
df.sort_values(['País', 'Edad'])

## Renombrando columnas

In [ ]:
df.rename(columns={'País': 'Nacionalidad'})

In [ ]:
df

In [ ]:
df.rename(columns={'País': 'Nacionalidad'}, inplace=True)

In [ ]:
df

## Selección de una muestra aleatoria

In [ ]:
df.sample(n=2)

## Selección de los n mayores o menores valores

In [ ]:
df.nlargest(3, 'Edad')

In [ ]:
df.nsmallest(3, 'Edad')

## Selección de columnas por patrón

In [ ]:
df.filter(regex='e')

## Selección de filas por condición

In [ ]:
df.query('Edad > 25')

## Selección de filas por patrón
https://pandas.pydata.org/docs/reference/api/pandas.Series.str.capitalize.html

In [ ]:
df.query('Nombre.str.startswith("A")')

## Conteo de valores únicos en una columna

In [ ]:
df['Nacionalidad'].nunique()

## Cálculo de la forma y longitud del DataFrame
Para conocer la forma y longitud de un DataFrame, podemos utilizar las funciones shape y len(), respectivamente. Por ejemplo, si queremos conocer la forma del DataFrame, podemos hacer lo siguiente:

In [ ]:
df.shape

In [ ]:
len(df)

## Conteo de valores en una columna

In [ ]:
df['Nacionalidad'].value_counts()

## Conteo de estadísticas en una columna

In [ ]:
print('Media:', df['Edad'].mean())
print('Varianza:', df['Edad'].var())
print('Desviación estándar:', df['Edad'].std())

## Suma de valores en una columna

In [ ]:
df['Edad'].sum()

## Aplicación de una función a una columna

In [ ]:
def anos_bisiestos(edad):
    return int(edad/4)

df['Edad en años bisiestos'] = df['Edad'].apply(anos_bisiestos)

In [ ]:
df