In [3]:
import pandas as pd

In [14]:
df_ventas = pd.read_csv("sales_data_types.csv")

In [15]:
df_ventas

,Customer Number,Customer Name,2016,2017,Percent Growth,Jan Units,Month,Day,Year,Active
0,10002.0,Quest Industries,"$125,000.00",$162500.00,30.00%,500,1,10,2015,Y
1,552278.0,Smith Plumbing,"$920,000.00","$101,2000.00",10.00%,700,6,15,2014,Y
2,23477.0,ACME Industrial,"$50,000.00",$62500.00,25.00%,125,3,29,2016,Y
3,24900.0,Brekke LTD,"$350,000.00",$490000.00,4.00%,75,10,27,2015,Y
4,651029.0,Harbor Co,"$15,000.00",$12750.00,-15.00%,Close,2,2,2014,N

# Información importante

In [16]:
df_ventas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Customer Number  5 non-null      float64
 1   Customer Name    5 non-null      object
 2   2016             5 non-null      object
 3   2017             5 non-null      object
 4   Percent Growth   5 non-null      object
 5   Jan Units        5 non-null      object
 6   Month            5 non-null      int64
 7   Day              5 non-null      int64
 8   Year             5 non-null      int64
 9   Active           5 non-null      object
dtypes: float64(1), int64(3), object(6)
memory usage: 528.0+ bytes

# Descripción

In [18]:
df_ventas.describe()

       Customer Number      Month        Day        Year
count         5.000000   5.000000   5.000000     5.00000
mean     252337.200000   4.400000  16.600000  2014.80000
std      320838.999788   3.646917  11.414903     0.83666
min       10002.000000   1.000000   2.000000  2014.00000
25%       23477.000000   2.000000  10.000000  2014.00000
50%       24900.000000   3.000000  15.000000  2015.00000
75%      552278.000000   6.000000  27.000000  2015.00000
max      651029.000000  10.000000  29.000000  2016.00000

# Columnas

In [20]:
df_ventas.columns.to_list()

['Customer Number',
 'Customer Name',
 '2016',
 '2017',
 'Percent Growth',
 'Jan Units',
 'Month',
 'Day',
 'Year',
 'Active']

# Seleccionar una columna

In [26]:
df_ventas.Month

0     1
1     6
2     3
3    10
4     2
Name: Month, dtype: int64

In [29]:
df_ventas["Customer Name"]

0    Quest Industries
1      Smith Plumbing
2     ACME Industrial
3          Brekke LTD
4           Harbor Co
Name: Customer Name, dtype: object

In [33]:
df_ventas[["Customer Name", "2016"]]

      Customer Name         2016
0  Quest Industries  $125,000.00
1    Smith Plumbing  $920,000.00
2   ACME Industrial   $50,000.00
3        Brekke LTD  $350,000.00
4         Harbor Co   $15,000.00

# Convertir Datos

In [41]:
df_ventas.dtypes

Customer Number     int64
Customer Name      object
2016               object
2017               object
Percent Growth     object
Jan Units          object
Month               int64
Day                 int64
Year                int64
Active             object
dtype: object

## astype()

In [40]:
df_ventas["Customer Number"] = df_ventas["Customer Number"].astype("int64")

In [42]:
df_ventas["2016"].astype("float64")

ValueError: could not convert string to float: '$125,000.00'

## df["Name Column"].apply()

In [50]:
from math import sqrt, factorial

In [51]:
df_ventas["Month"].apply(factorial)

0          1
1        720
2          6
3    3628800
4          2
Name: Month, dtype: int64

In [52]:
def convertir_dinero(cantidad):
    cantidad = cantidad.replace("$", "")
    cantidad = cantidad.replace(",", "")
    return cantidad

In [53]:
convertir_dinero("$2,000.00")

'2000.00'

In [55]:
df_ventas["2016"].apply(convertir_dinero).astype("float64")

0    125000.0
1    920000.0
2     50000.0
3    350000.0
4     15000.0
Name: 2016, dtype: float64

In [59]:
df_ventas["2016"] = df_ventas["2016"].apply(lambda dinero: dinero.replace("$","").replace(",","")).astype("float64")
df_ventas["2017"] = df_ventas["2017"].apply(lambda dinero: dinero.replace("$","").replace(",","")).astype("float64")

In [58]:
# antes de convertir
df_ventas["2016"] + df_ventas["2017"]

0      $125,000.00$162500.00
1    $920,000.00$101,2000.00
2        $50,000.00$62500.00
3      $350,000.00$490000.00
4        $15,000.00$12750.00
dtype: object

In [60]:
df_ventas["2016"] + df_ventas["2017"]

0     287500.0
1    1932000.0
2     112500.0
3     840000.0
4      27750.0
dtype: float64