In [1]:
import pandas as pd

In [35]:
df = pd.read_excel("db/db_ipc.xls")

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 292 entries, 0 to 291
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Año          292 non-null    int64
 1   Mes          292 non-null    object
 2   Código       292 non-null    int64
 3   Descripción  292 non-null    object
 4   Rep.         292 non-null    float64
 5   Reg. I       292 non-null    float64
 6   Reg. II      292 non-null    float64
 7   Reg. III     292 non-null    float64
 8   Reg. IV      292 non-null    float64
 9   Reg. V       292 non-null    float64
 10  Reg. VI      292 non-null    float64
 11  Reg. VII     292 non-null    float64
 12  Reg. VIII    292 non-null    float64
dtypes: float64(9), int64(2), object(2)
memory usage: 29.8+ KB

# Loc

In [34]:
df.loc[10:, "Rep."]

150.61

In [24]:
df.loc[df["Rep."] < 100, ["Código"]]

      Código
199   724202
207   821101
215   911101
216   911102
217   912101
218   912102
219   913101
221   914101
222   914102
226   921104
238   932102
286  1241101

In [45]:
df.loc[(df["Rep."] < 100) & (df["Rep."] > 90), ["Código"]]

      Código
199   724202
207   821101
215   911101
217   912101
218   912102
219   913101
221   914101
226   921104
286  1241101

# iLoc

In [44]:
df.iloc[1, [1,2]]

Mes       Enero
Código        1
Name: 1, dtype: object

# at

In [50]:
df.at[12, "Código"]

112201

In [54]:
df.iat[12, 3]

'Carne de cerdo                                                                                      '

In [55]:
df_2 = pd.read_csv("db/movies.csv")

In [56]:
df_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            10000 non-null  int64
 1   title         10000 non-null  object
 2   overview      9998 non-null   object
 3   release_date  10000 non-null  object
 4   popularity    10000 non-null  float64
 5   vote_average  10000 non-null  float64
 6   vote_count    10000 non-null  int64
dtypes: float64(2), int64(2), object(3)
memory usage: 547.0+ KB