# Filtrado por condiciones en pandas

In [1]:
import pandas as pd

In [2]:
data = {'nombre': ['Juan', 'Ana', 'Pedro', 'Maria', 'Luis'],
        'edad': [25, 30, 45, 32, 28],
        'ciudad': ['Madrid', 'Barcelona', 'Sevilla', 'Madrid', 'Barcelona']}
df = pd.DataFrame(data)
df

  nombre  edad     ciudad
0   Juan    25     Madrid
1    Ana    30  Barcelona
2  Pedro    45    Sevilla
3  Maria    32     Madrid
4   Luis    28  Barcelona

## Filtros booleanos

Para aplicar un filtro booleano a un DataFrame, simplemente pasamos la matriz booleana a la notación de corchetes de pandas. Por ejemplo, para seleccionar todas las filas donde la edad es mayor que 30, hacemos lo siguiente:

In [ ]:
filtro_edad = df['edad'] > 30
df[filtro_edad]

## Filtros basados en valores únicos

Para filtrar por valores únicos, podemos utilizar el método isin() junto con la notación de corchetes de pandas. Por ejemplo, para seleccionar todas las filas donde la ciudad es 'Madrid' o 'Barcelona', hacemos lo siguiente:

In [3]:
filtro_ciudad = df['ciudad'].isin(['Madrid', 'Barcelona'])
df[filtro_ciudad]

  nombre  edad     ciudad
0   Juan    25     Madrid
1    Ana    30  Barcelona
3  Maria    32     Madrid
4   Luis    28  Barcelona

## Filtros basados en patrones de texto

Para aplicar un filtro basado en un patrón de texto, podemos utilizar el método str.contains() junto con la notación de corchetes de pandas. Por ejemplo, para seleccionar todas las filas donde el nombre contiene la letra 'a', hacemos lo siguiente:

In [4]:
filtro_nombre = df['nombre'].str.contains('a')
df[filtro_nombre]

  nombre  edad     ciudad
0   Juan    25     Madrid
1    Ana    30  Barcelona
3  Maria    32     Madrid

## Filtros combinados

Para combinar filtros, utilizamos operadores lógicos como & (and) y | (or). Por ejemplo, para seleccionar todas las filas donde la edad es mayor que 30 y la ciudad es 'Madrid', hacemos lo siguiente:

In [5]:
filtro_edad = df['edad'] > 30
filtro_ciudad = df['ciudad'] == 'Madrid'
df[filtro_edad & filtro_ciudad]

  nombre  edad  ciudad
3  Maria    32  Madrid