In [18]:
import pandas as pd

# Detectar valores nulos en un DataFrame:

In [19]:
# Creamos un DataFrame con algunos valores nulos
df = pd.DataFrame({'A': [1, 2, None, 4], 'B': [5, None, 7, 8]})

# Utilizamos la funci贸n isnull() para detectar los valores nulos
df.isnull()

       A      B
0  False  False
1  False   True
2   True  False
3  False  False

# Eliminar filas con valores nulos de un DataFrame

In [20]:
# Creamos un DataFrame con algunos valores nulos
df = pd.DataFrame({'A': [1, 2, None, 4], 'B': [5, None, 7, 8]})

# Utilizamos la funci贸n dropna() para eliminar las filas con valores nulos
df.dropna()

     A    B
0  1.0  5.0
3  4.0  8.0

# Reemplazar valores nulos en un DataFrame

In [21]:
# Creamos un DataFrame con algunos valores nulos
df = pd.DataFrame({'A': [1, 2, None, 4], 'B': [5, None, 7, 8]})

# Utilizamos la funci贸n fillna() para reemplazar los valores nulos por cero
df.fillna(0)

     A    B
0  1.0  5.0
1  2.0  0.0
2  0.0  7.0
3  4.0  8.0

# Interpolar valores nulos en un DataFrame

In [22]:
# Creamos un DataFrame con algunos valores nulos
df = pd.DataFrame({'A': [1, 2, None, 4], 'B': [5, None, 7, 8]})

# Utilizamos la funci贸n interpolate() para interpolar los valores nulos
df.interpolate()

     A    B
0  1.0  5.0
1  2.0  6.0
2  3.0  7.0
3  4.0  8.0