In [1]:
import pandas as pd
df = pd.read_feather('12_million_plus_company_data.feather')

In [10]:
df.head()

,name,website,industry,size_range,current_employee_estimate,total_employee_estimate,country,locality,region,year_founded,linkedin_url
0,ibm,ibm.com,information technology and services,10001+,274047.0,716906.0,united states,new york,new york,1911.0,linkedin.com/company/ibm
1,tata consultancy services,tcs.com,information technology and services,10001+,190771.0,341369.0,india,bombay,maharashtra,1968.0,linkedin.com/company/tata-consultancy-services
2,accenture,accenture.com,information technology and services,10001+,190689.0,455768.0,ireland,dublin,dublin,1989.0,linkedin.com/company/accenture
3,us army,goarmy.com,military,10001+,162163.0,445958.0,united states,alexandria,virginia,1800.0,linkedin.com/company/us-army
4,ey,ey.com,accounting,10001+,158363.0,428960.0,united kingdom,london,greater london,1989.0,linkedin.com/company/ernstandyoung

In [13]:
df.query('country=="united states"').shape[0]

3725697